# Port 1812 is the standard RADIUS port
PORT=1812

# Make this up. 10 random characters is pretty good.
RADIUS_SECRET=''

# You probably won't change this
API_SERVER = 'https://api.foxpass.com'

# Get a new API key from the Foxpass console
API_KEY = ''

# Put the names of groups here that the user must be a member of to authenticate.
# If no groups are listed, no group membership will be enforced.
REQUIRE_GROUPS=[]

# If you want to use Duo, enter your parameters here. Optional.
DUO_API_HOST=''
DUO_SKEY=''
DUO_IKEY=''
